<%- include("../partials/header") %>
    <div class="row">
        <div class="col-md-4">
            <h1>
                <%= user.firstName + " " + user.lastName %>
            </h1>
            <div class="thumbnail">
                <% if(user.avatar.length < 1) { %>
                    <img class="card-img-top" src="https://basinred.com/wp-content/uploads/2016/09/default-user-img.jpg">
                    <% } else { %>
                        <img class="card-img-top" src="<%= user.avatar %>">
                        <% } %>
                            <!-- <img src="<%=user.avatar%>" alt="user profile image"> -->
                            <div class="caption">
                                <a href="mailto:<%= user.email%>">
                                    <%= user.email %>
                                </a>
                            </div>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque corporis maiores accusantium repellat esse commodi cupiditate velit odit incidunt quisquam vitae rem, expedita nostrum earum accusamus consequuntur culpa minus adipisci.
        </div>
        <div class="col-md-8">
            <h3>
                <%= user.username %>'s campgrounds: </h3>
            <ul>
                <% campgrounds.forEach(function(campground){ %>
                    <li>
                        <div class="thumbnail">
                            <h4>
                                <a href="/campgrounds/<%=campground.id%>">
                                    <%= campground.name %>
                                </a>
                            </h4>
                            <img src="<%= campground.image %>">
                        </div>

                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>
    <%- include("../partials/footer") %>